@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: #f0f0f0; /* Anti-Flash White - Slightly darker */
    --foreground: #141414; /* Black */
    --card: #f0f0f0; /* Light Lavender Blush-ish - Lighter */
    --card-foreground: #141414; /* Black */
    --popover: #f0f0f0; /* Light Lavender Blush-ish - Lighter */
    --popover-foreground: #141414; /* Black */
    --primary: #8dbf41; /* 8dbf41 converted to HSL */
    --primary-foreground: #141414; /* Black */
    --secondary: #dcc8f0; /* Soap (#dcc8f0) - Lighter */
    --secondary-foreground: #141414; /* Black */
    --muted: #dcc8f0; /* Soap (#dcc8f0) - Lighter */
    --muted-foreground: rgba(0, 0, 0, 0.451); /* Black */
    --accent: #f0f8ff; /* Light Alice Blue-ish - Lighter */
    --accent-foreground: #141414; /* Black */
    --destructive: #000000;
    --destructive-foreground: #f0f0f0;
    --border: #f0f8ff; /* Alice Blue - Lighter */
    --input: #f0f8ff; /* Alice Blue - Lighter */
    --ring: #141414; /* Black */
    --chart-1: #f0f0f0;
    --chart-2: #f0f0f0;
    --chart-3: #f0f0f0;
    --chart-4: #f0f0f0;
    --chart-5: #f0f0f0;
    --radius: 0.5rem;
    --sidebar-background: #dcc8f0; /* Soap (#dcc8f0) - Lighter */
    --sidebar-foreground: #141414; /* Black */
    --sidebar-primary: #dcc8f0; /* Soap (#dcc8f0) - Lighter */
    --sidebar-primary-foreground: #141414; /* Black */
    --sidebar-accent: #dcc8f0; /* Soap (#dcc8f0) - Lighter */
    --sidebar-accent-foreground: #141414; /* Black */
    --sidebar-border: #f0f8ff; /* Alice Blue - Lighter */
    --sidebar-ring: #141414; /* Black */

    /* Additional vibrant colors */
    --vibrant-1: #bf0404; /* Gold */
    --vibrant-2: #0378a6; /* Cyan */
    --vibrant-3: #8dbf41; /* Pink */
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
    body {
    @apply bg-gradient-to-br from-[hsl(var(--vibrant-1))] to-[hsl(var(--vibrant-2))] via-[hsl(var(--vibrant-3))] animate-gradient;
    background-size: 400% 400%;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .animate-gradient {
    animation: gradient 15s ease infinite;
  }
}

/* Glassmorphism effect */
.glassmorphism {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
